<%- include('../partials/header') %>
<ul class="grid" id="list">
    <% products.forEach(function(m) { %>
    <li>
        <figure class="grid__figure">
            <div class="fimg"><a href="/products/<%= m._id %>"><img src="/images/<%= m.image %>"></a></div>
            <div class="fig"><%= m.name %></div>
            <div class="fig">$<%= m.price %></div>
            <div class="fig"><a href="/products/<%= m._id %>">DETAILS</a></div>
        </figure>
    </li>
    <% }); %>
</ul>
<%- include('../partials/footer') %>